.login {
    color: white;
    height: calc(83vh - 48px);
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;

    &__name {

    }

    &__password {

    }
}