<div class="wrapper">
    <div class="headling">
        <img class="flag" [src]="iconSrc">
        <span>{{ leagueName | translate}}</span>
    </div>
    <div *ngFor="let game of games" class="game">
        <div class="team" (click)="toggleToBetSlip(game, game.homeWinOdds)">
            <span class="home-win">{{game.homeWinOdds}}</span>
           <span>{{ game.homeTeam }}</span>
        </div>
        <div class="draw" (click)="toggleToBetSlip(game, game.drawOdds)">{{game.drawOdds}}</div>
        <div class="team" (click)="toggleToBetSlip(game, game.awayWinOdds)">
            <span class="away-name">{{game.awayTeam}}</span>
            <span class="away-win">{{game.homeWinOdds}}</span>
        </div>
    </div>
</div>
