.language {
    color: white;
    display: flex;
    align-items: center;
    padding: 4px 24px;
    border-radius: 24px;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;

    &__flag {
        position: relative;
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }

    .material-symbols-outlined {
        font-size: 20px;
    }
}

.dialog {
    position: absolute;
    top: 32px;
    right: 20px;
    color: white;
    width: 200px;
    height: 200px;
    border-radius: 4px;
    background-color: #343434;
    z-index: 2;
}

