<div class="real-content">

    <h2 class="heading">{{'REAL.CHOICE_YOUR_BET' | translate}}</h2>
     <app-custom-league [leagueName]="'LEAGUE.ENGLISH_PREMIER_LEAGUE'" [games]="premierLeague" [iconSrc]="'../../../assets/english.jpg/'"></app-custom-league>
     <app-custom-league [leagueName]="'LEAGUE.SERIE_A'" [games]="serieA" [iconSrc]="'../../../assets/italian.jpg/'"></app-custom-league>
     <app-custom-league [leagueName]="'LEAGUE.BUNDESLIGA'" [games]="bundesliga" [iconSrc]="'../../../assets/deutsch.jpg/'"></app-custom-league>
</div>