
.team {
  width: 120px;
}

table {

  th {
    padding: 0 4px;
    text-align: left;
  }

  td {
    text-align: left;
    white-space: nowrap;


    img {
      width: 16px;
      height: 16px;
    }
  }
}
